<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>One Touch</title>
    <!------my home_onetouch.css file-------------->
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
    <!-----------for getting navigation dropdow icon ----------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!----- for getting amatic sc font-style link------------->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">

    <!-------bootstrap css link------------->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-------bootstrap js link-------------->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</head>

<body class="bg-secondary">

    <!------Navbar using w3school website idea(responsive navbar)-->
    <div class="topnav" id="myTopnav">
        <a href="/" class="active"><b>Home</b></a>
        <a href="/mess"><b>MESS</b></a>
        <a href="/contact"><b>CONTACT US</b></a>
        <a href="/about"><b>ABOUT US</b></a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
       
        <div class="container-fluid bg-dark text-white text-center py-5">
            <h1 class="text-uppercase display-4">Contact Us</h1>
        </div>
        <div class="container bg-dark text-white mt-2 p-5">
            <h5 class=" text-center mb-5">Contact us? Fill out the form below to send us a message so we can contact you if you have any queries.or you want to give us feedback.</h5>
            <form action="/contact" method="post">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Name" maxlength="50" name="name" required>
                    </div>
                </div>
    
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" maxlength="50" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                    <small id="emailHelp" class="form-text text-white">We'll never share your email with anyone else.</small>
                  </div>
    
    
                <div class="form-group">
                    <label for="inputPhoneno">Phone Number</label>
                    <input type="tel" class="form-control" maxlength="10" id="inputPhoneno" name="phone" pattern="[0-9]{10}" aria-describedby="phoneNo"
                        placeholder="enter 10 numbers only" required>
    
                </div>
    
    
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" maxlength="5000" name="message" rows="6" required></textarea>
                  </div>
    
    
    
                <button type="submit" class="btn btn-primary btn-lg mt-2">SEND</button>
            </form>
    
    
        </div>
    
    
    
  


<!--------------FOOTER STARTING------------------------------------>
<footer>

    <div class="icon-bar "><!----ICONS FROM W3 WEBSITES-->
        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        <a href="#" class="google"><i class="fa fa-google"></i></a>
        <br><br>

        <!--------FOOT(display:flex;)----------------->
        <div class="foot-flex contact-link">

            <!------different blocks (addrs,contact,community,services)---------->
            <div class="contact">
                <hr>
                <h3><u><b>ADDRESS:</b></u></h3>
                <p>30/9 RADHIKA NAGAR SUPELA BHILAI</p>

            </div>
            <div class="contact">
                <hr>
                <h3><u><b>CONTACT:</b></u></h3>
                <p>Whatsapp:<a href="https://api.whatsapp.com/send?phone=919557911883">9557911883</a></p>
                <p>phoneNo:<a href="tel:955-791-1883">9557911883</a></p>
                <p>Gmail:<a href="mailto:onetouchbhilai@gmail.com?Subject=Hello%20again" target="_top">onetouchbhilai@gmail.com</a></p>

            </div>
<!--            <div class="contact">-->
<!--                <hr>-->
<!--                <h3><u><b>COMMUNITY:</b></u></h3>-->
<!--                <p><a href="https://www.facebook.com/OnetouchBhilai-103093194585503/">facebook</a></p>-->
<!--                <p><a href="#">instagram</a></p>-->
<!--                <p><a href="#">Twitter</a></p>-->
<!--                <p>Gmail:<a href="mailto:onetouchbhilai@gmail.com?Subject=Hello%20again" target="_top">onetouchbhilai@gmail.com</a></p>-->
<!--            </div>-->
            <div class="contact">
                <hr>
                <h3><u><b>SERVICES:</b></u></h3>
                <p><a href="/mess">mess</a></p>
                <p><a href="/food">breakfast</a></p>
                <p><a href="/food">dinner</a></p>
                <p><a href="/food">lunch</a></p>
            </div>
        </div>
    </div>

</footer>

<!-------------------JAVA SCRIPT STARTS--------------------------------->
    <script>

        //Navbar using w3school website ideas(responsive navbar)
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }


    </script>


</body>

</html>