<!--------------FOOTER STARTING------------------------------------>
<footer>
    <div class="icon-bar "><!----ICONS FROM W3 WEBSITES-->
        <a href="#" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="#" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
        <a href="#" class="google" target="_blank"><i class="fa fa-google"></i></a>
        <br><br>
        <!--------FOOT(display:flex;)----------------->
        <div class="foot-flex contact-link">
            <!------different blocks (addrs,contact,community,services)---------->
            <div class="contact">
                <hr>
                <h3><u><b>ADDRESS:</b></u></h3>
                <p>30/9 RADHIKA NAGAR SUPELA BHILAI</p>
            </div>
            <div class="contact">
                <hr>
                <h3><u><b>CONTACT:</b></u></h3>
                <p>Whatsapp:<a href="tel:934-069-9022">9340699022</a></p>
                <p>phoneNo:<a href="tel:942-555-6402">9425556402</a></p>
                <p>Gmail:<a href="mailto:onetouchbhilai@gmail.com?Subject=Hello%20again" target="_top">onetouchbhilai@gmail.com</a></p>

            </div>
<!--            <div class="contact">-->
<!--                <hr>-->
<!--                <h3><u><b>COMMUNITY:</b></u></h3>-->
<!--                <p><a href="https://www.facebook.com/OnetouchBhilai-103093194585503/" target="_blank">facebook</a></p>-->
<!--                <p><a href="#" target="_blank">instagram</a></p>-->
<!--                <p><a href="Twitter.com">Twitter</a></p>-->
<!--                <p>Gmail:<a href="mailto:onetouchbhilai@gmail.com?Subject=Hello%20again" target="_top">onetouchbhilai@gmail.com</a></p>-->
<!--            </div>-->
            <div class="contact">
                <hr>
                <h3><u><b>SERVICES:</b></u></h3>
                <p><a href="/mess">mess</a></p>
                <p><a href="/mess">breakfast</a></p>
                <p><a href="/mess">dinner</a></p>
                <p><a href="/mess">lunch</a></p>
            </div>
        </div>
    </div>
</footer>
<!-------------------JAVA SCRIPT STARTS--------------------------------->
    <script>
        // Navbar using w3school website ideas(responsive navbar)
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>