<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>



    <!-------bootstrap css link------------->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-------bootstrap js link-------------->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <!-- thankyou getting -->
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:700' rel='stylesheet' type='text/css'>
    <style>
        @import url(//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css);
        @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
    </style>
    <link rel="stylesheet" href="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/default_thank_you.css">
    <script src="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/jquery-1.9.1.min.js"></script>
    <script src="https://2-22-4-dot-lead-pages.appspot.com/static/lp918/min/html5shiv.js"></script>

    <!-- header and footer  -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
    <!-----------for getting navigation dropdow icon ----------------->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!----- for getting amatic sc font-style link------------->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
   

</head>


<body class="bg-secondary" style="padding: 1px;">

      <!------Navbar using w3school website idea(responsive navbar)-->
    <div class="topnav" id="myTopnav">
        <a href="/" class="active"><b>Home</b></a>
        <a href="/mess"><b>MESS</b></a>
        <a href="/contact"><b>CONTACT US</b></a>
        <a href="/about"><b>ABOUT US</b></a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>


    <div class="container-fluid bg-dark text-white text-center py-2">
        <h1 class="text-uppercase display-3">one touch cart</h1>
    </div>
    <div class="container-fluid bg-dark text-white mt-2 p-3">
        <header class="site-header" id="header">
            <h1 class="site-header__title" data-lead-id="site-header-title">THANK YOU!</h1>
        </header>

        <div class="main-content">
            <i class="fa fa-check main-content__checkmark" id="checkmark"></i>
            <p class="main-content__body" data-lead-id="main-content-body">Thanks for ordering we will call you back for conformation. </p>
        </div>
        <footer class="site-footer" id="footer">
            <p class="site-footer__fineprint" id="fineprint">Copyright ©20 | All Rights Reserved</p>
        </footer>
        
        <a href="/"><button type="" class="btn btn-primary btn-lg mt-2">Home Page</button></a>
    </div>

    

    <!--------------FOOTER STARTING------------------------------------>
<footer>

    <div class="icon-bar "><!----ICONS FROM W3 WEBSITES-->
        <a href="https://www.facebook.com/OnetouchBhilai-103093194585503/" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        <a href="#" class="google"><i class="fa fa-google"></i></a>
        <br><br>

        <!--------FOOT(display:flex;)----------------->
        <div class="foot-flex contact-link">

            <!------different blocks (addrs,contact,community,services)---------->
            <div class="contact">
                <hr>
                <h3><u><b>ADDRESS:</b></u></h3>
                <p>30/9 RADHIKA NAGAR SUPELA BHILAI</p>

            </div>
            <div class="contact">
                <hr>
                <h3><u><b>CONTACT:</b></u></h3>
                <p><a href="tel:934-069-9022">9340699022</a></p>
                <p><a href="tel:942-555-6402">9425556402</a></p>
                <p>Gmail:<a href="mailto:tdfcrishabh12345@gmail.com?Subject=Hello%20again" target="_top">tdfcrishabh12345@gmail.com</a></p>
                <p>Gmail:<a href="mailto:tdfcrishabh12345@gmail.com?Subject=Hello%20again" target="_top">tdfcrishabh12345@gmail.com</a></p>
            </div>
            <div class="contact">
                <hr>
                <h3><u><b>COMMUNITY:</b></u></h3>
                <p><a href="https://www.facebook.com/OnetouchBhilai-103093194585503/">facebook</a></p>
                <p><a href="#">instagram</a></p>
                <p><a href="#">Twitter</a></p>
                <p>Gmail:<a href="mailto:tdfcrishabh12345@gmail.com?Subject=Hello%20again" target="_top">tdfcrishabh12345@gmail.com</a></p>
            </div>
            <div class="contact">
                <hr>
                <h3><u><b>SERVICES:</b></u></h3>
                <p><a href="/mess">mess</a></p>
                <p><a href="/mess">breakfast</a></p>
                <p><a href="/mess">dinner</a></p>
                <p><a href="/mess">lunch</a></p>
            </div>
        </div>
    </div>

</footer>
   

</body>
 <!-------------------JAVA SCRIPT STARTS--------------------------------->
 <script>

    //Navbar using w3school website ideas(responsive navbar)////////////////////////////
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
    ///////////////////////////////////////////////////////////////////////////////
</script>

</html>